<div class="topbar">

    <div>

        <div>

            <div>

                <div>

                    <div class="topbar-container">

                        <div class="topbar-logo">
                            <a href="/">
                                <img src="/images/logo_small_type.png" alt="">
                            </a>
                        </div>

                        <div class="topbar-search">
                            <form action="search" method="post">
                                <input type="hidden" value="<%= csrfToken %>">
                                <input type="text" class="field field-research" placeholder="<%= __('research') %>">
                            </form>
                        </div>

                        <div class="topbar-icons">
                            <ul>
                                <li>
                                    <span class="topbar-icon" id="topbarIcon" data-func="display-friend-requests" data-td='{"target": "friendRequests", "displayTarget": "friendRequestsDisplay"}' data-state="no">
                                        <i data-feather="users"></i>
                                    </span>
                                    <span id="friendRequestsBubble">
                                        <% if(currentUserHasUnreadFriendRequests) { %>
                                        <span class="badge"><%= currentUserUnreadFriendRequestsCount %></span>
                                        <% } %>
                                    </span>
                                    <div class="topbar-box" id="friendRequests">
                                        <div class="topbar-box-header">Demandes d'ami</div>
                                        <div class="topbar-box-content" id="friendRequestsContent">
                                            <div class="topbar-box-in" id="friendRequestsDisplay">

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="topbar-icon" id="topbarIcon" data-func="display-global-notifications" data-td='{"target": "globalNotifications", "displayTarget": "globalNotificationsDisplay"}' data-state="no">
                                        <i data-feather="bell"></i>
                                    </span>
                                    <!-- bubble here -->
                                    <div class="topbar-box" id="globalNotifications">
                                        <div class="topbar-box-header">Notifications</div>
                                        <div class="topbar-box-content">
                                            <div class="topbar-box-in" id="globalNotificationsDisplay">

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><i data-feather="message-square"></i></li>
                                <li><i data-feather="more-vertical"></i></li>
                            </ul>
                        </div>

                        <div class="topbar-home-link">
                            <a href="/">
                                <%= __('home') %>
                            </a>
                        </div>

                        <div class="topbar-user">
                            <a href="/user/<%= user.username %>">
                                <div class="topbar-user-profile-picture" style="<%= currentUserAvatar %>"></div>
                                <div class="topbar-user-username"><%= user.username %></div>
                            </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>